@model Heavy.Web.ViewModels.AddOrRemoveUserToRoleVM
@{
    ViewData["Title"] = "AddUserToRole";
}

<h1>AddUserToRole</h1>

<div asp-validation-summary="ModelOnly"></div>
<form  method="post" asp-action="AddUserToRole">
    <input type="hidden" asp-for="@Model.RoleId"/>
    <select asp-for="@Model.UserId" asp-items="@(new SelectList(Model.identityUsers,"Id","UserName"))">
        <option value="">请选择要添加的用户</option>
    </select>
    <input type="submit"  value="添加" />
</form>
